NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_SKIP_TOKEN_ADDRESS=
NEXT_PUBLIC_SKIP_PRESALE_ADDRESS=
NEXT_PUBLIC_SKIP_TEAM_VESTING_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_PRESALE_START=
NEXT_PUBLIC_PRESALE_END=
NEXT_PUBLIC_HARDCAP_USDC=2000000
